<section>
    <h5 class="bg-dark text-white p-2 mb-4">
        من نحن
    </h5>
    <p>
        "التايمز EG" موقع إخباري إلكتروني شامل ، يصدر عن شركة "التايمز ايجي لإنتاج وصناعة المحتوى الرقمي"، وهى الشركة المالكة للموقع  بالترخيص رقم (4686 ع ر )
    </p>
    <p>وتعمل "التايمز EG" وفق آليات الغرض المخصص لها وهي : </p>
    <ul>
        <li>1-	صناعة تكنولوجيا المعلومات والإتصالات بما تشمله من أنشطة صناعة وتصميم وتطوير الإلكترونيات ومراكز البيانات وأنشطة التعهيد ، وتطوير البرمجيات ، والتعليم التكنولوجي .
            </li>
            <li>  2-	إنتاج وإنشاء وصناعة المحتوي الإلكتروني بصوره المختلفة  من صوت وصورة وبيانات .</li>
            <li>3-	أعمال التوصيف والتصميم والتطوير لنظم الحاسبات بمختلف أنواعها .</li>
            <li>4-	إنتاج وتطوير النظم المدمجة وتشغيلها والتدريب عليها .</li>
            <li>5-	تنفيذ وإدارة شبكات نقل وتداول البيانات من ( صوت وصورة وبيانات ) .</li>
            <li> 6-	الإتصالات وخدمات الإنترنت .</li>
            <li>7-	مشروعات البحث والتطوير العلمي من أجل التنمية .</li>
            <li>8-	إنشاء وإدارة مراكز التدريب لإعداد الباحثين ومراكز نقل تكنولوجيا المعلومات .</li>
            <li> 9-	إنشاء وإدارة مراكز الإستشارات والدراسات المتخصصة في مجالات المعلومات والإتصالات وتطويرها .</li>
            <li>10-	حاضنات الأعمال التكنولوجية ودعم ريادة الأعمال .</li>
            <li> 11-	الأنشطة المتعلقة بتحويل المحتوي التقليدي من صوت وصورة وبيانات الى محتوى رقمي بما في ذلك رقمنة المحتوى العلمي والثقافي والفني .</li>
            <li>12-	التجارة الإلكترونية عبر الإنترنت .</li>
            <li>    13-	التسويق الإلكتروني عبر الإنترنت .</li>
            <li> 14-	إقامة وتشغيل مركز لإعداد وتدريب وتنمية الموارد البشرية .</li>
            <li> 15-	إعداد وتصميم وتنفيذ الدورات التدريبية .</li>
            <li>16-	اكتشاف المواهب الإعلامية .</li>
            <li>  17-	إنشاء وتشغيل وإدارة المواقع الإلكترونية .</li>
            <li>   18-	إدارة وتشغيل تطبيقات الهاتف المحمول .</li>
            <li>19-	إقامة وتنظيم الحفلات العامة والمؤتمرات .</li>
        </ul>
        <p>
            وتضع "التايمز EG" هذه الأهداف ضمن أولويتها ونصب عين فريق العمل الخاص بها ايمانا منها بالوصول الى أكبر الطوائف في مصر والوطن العربي وعلى مستوي العالم من أجل تفعيل دور مصر الريادي وتقدمها والعمل مع جميع مؤسسات الدولة من أجل رفعتها .
        </p>
        <p>
            ومن هذا المنطلق قررت " التايمز EG" استهداف جميع الفئات من المثقفين والسياسين والفنانين وعمال وفلاحين بجميع الأقطار المصرية والعربية وتمتد الى شريحة الباحثين ومطوري التكنتولوجيا والمحتوى الرقمي بجميع المواد من ( صوت وصورة وبيانات ) وتطبيقات بما يعزز دور مصر بين الأمم المختلفة ويحفظ تراثها وحضارتها .

        </p>
        <p>موقع : التايمز EG</p>
</section>