<section>
    <ul class="breadCrumbb d-flex mb-5 p-2 list-unstyled">
         <li>
             <a
             routerLink="/main/home"
             >
                 الرئيسية
             </a>
         </li>
         <li>
             /
         </li>
         <li>
             <span>
                 مقالات
             </span>
         </li>
    </ul>
    <div class="pageTitle mb-5">
        <div class="title">مقالات</div>
    </div>
 </section>
 <!-- end breadCrumb and Title -->
  <section class="articles-authors" style="min-height: 100vh;">
    <div class="row">
        <div class="col-md-8 mb-3">
            <ng-container *ngIf="articlesLoading;else articles"> 
                <div class="row">
                    <div 
                    *ngFor="let item of navBarService.loadingCount"
                    class="col-sm-6  col-md-4 mb-4">
                        <ngx-skeleton-loader count="1" appearance="circle" [theme]="{
                            width: '100%',
                            height: '150px',
                            'border-radius': '10px',
                            margin:0
                        }"></ngx-skeleton-loader>
                        <ngx-skeleton-loader count="2"  [theme]="{
                            width: '100%',
                            height: '5px',
                            'margin-bottom':'2px',
                            'border-radius': '10px'
                        }"></ngx-skeleton-loader>
                    </div>
                </div>
            </ng-container>
            <ng-template #articles>
                <ng-container *ngIf="articless?.length;else notFound">
                   
                    <a  
                    style="padding:0 10px;"
                    *ngFor="let item of articless"
                    [routerLink]="['/main/details',item?._id]">
                        <article 
                        class="mb-1 row m-2">
                            <div class="col-md-4 mb-4 mb-md-0">
                                <div class="artilce-image text-center" >
                                    <img 
                                    style="object-fit: cover;height: 100px;max-width: 100%;"
                                    [src]="item?.main?.image?.image?.file?.src" class="" alt="">
                                </div>
                            </div>
                            <div class="col-md-8 mb-4 mb-md-0">
                                <div class="content" style="width: auto;">
                                    <p class="text-secondary"> {{item?.writer?.name}}</p>
                                    <h6 class="text-danger fw-bold">
                                        {{item?.main?.title | slice : 0 :100}}...
                                    </h6>
                                    <small class="text-danger">
                                        {{item?.updatedAt | date : 'fullDate' : undefined : 'ar'}}
                                    </small>
                                </div>
                            </div>
                        </article>
                    </a>
                </ng-container>
                <ng-template #notFound>
                    <h3 class="text-center py-5">لا توجد نتائج</h3>
                </ng-template>
            </ng-template>
            <div 
            *ngIf="totalPages>10"
            style="overflow:auto"
            class="d-flex justify-content-center">
                <pagination
                previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"
                (pageChanged)="pageChanged($event)"
                [totalItems]="totalPages"
                 [maxSize]="5"></pagination>
             </div>
             <!-- end pagination -->
        </div>
        <div class="col-md-4 mb-3">
            <div 
          
            *ngFor="let item of ads"
            class="advertisment mb-4">
                   <a   [href]="item?.link" target="_blank">
                     <img 
                     style="max-height:150px;width: 100%;object-fit: contain"
                     [src]="item?.image?.file?.src" >
                  </a>
              
             </div>
              <!-- end ads section -->
        </div> 
    </div>
</section>
