<section>
    <h4 class="bg-dark text-white p-2 mb-4">سياسة الخصوصية وملفات تعريف الارتباط (الكوكيز)</h4>
    <p>التايمزEG" هي الجهة المشرفة على بيانات المعلومات الشخصية التي تعالجها، ما لم يذكر خلاف ذلك. وهي شركة ذات مسؤولية محدودة تأسست بموجب قوانين جمهورية مصر العربية، ومقرها القانوني جمهورية مصر العربية.</p>
    <p>
        تنطبق سياسة الخصوصية وملفات تعريف الارتباط (الكوكيز) هذه في حال كنت تستخدم إحدى خدماتنا، أو إذا قمت بالتواصل معنا أو نحن تواصلنا معك بشأن أي من خدماتنا، والتي قد تشمل، على سبيل المثال لا الحصر:
    </p>
    <p>استخدام أي من المنصات والمواقع الخاصة بنا.</p>
    <p>الاستفسارات العامة</p>
    <p>المشاركة في أي من عمليات تخص تداول البيانات والمعلومات وتكنولوجيا المعلومات .</p>
    <p>قنوات خدمة العملاء المرتبطة بخدماتنا، أو منتجاتنا، أو برامجنا .</p>
    <p>هذا الموقع الإلكتروني مملوك ويجري تشغيله من قبل "شركة التايمز EG لإنتاج وصناعة المحتوي الرقمي "</p>
    <p>نحن نولي خصوصيتكم اهتماماً بالغاً، وبالتالي نرغب بإعلامكم بالطريقة التي يتم من خلالها جمع بياناتكم،و استخدامها، ومشاركتها، وتخزينها، وهي موضحة في سياسة الخصوصية وملفات تعريف الارتباط (الكوكيز) هذه.</p>
    <p>يُرجى ملاحظة أنه يجري تحديث وفق لاسياستنا بشأن الخصوصية وملفات تعريف الارتباط من حين إلى آخر، وأنكم مُلزَمون بالامتثال لآخر تحديث للسياسة يتم نشره على موقعنا. وحيثما أمكن، سيتم إخطاركم عبر البريد الإلكتروني بأي تغييرات هامة. وعليه، فإنه يجب عليكم مراجعة سياستنا بشأن الخصوصية وملفات تعريف الارتباط باستمرار للاطلاع على أحدث الإصدارات.</p>
    <h4 class="my-4">
        المعلومات التي يجوز لنا جمعها
    </h4>
    <p>نجمع نحن (ومزودي الخدمات الذين نصرّح لهم) المعلومات التي تُقدمونها عبر الموقع الإلكتروني، وأي من مواقعنا الأخرى أو أي من قنوات خدمة العملاء في موقعنا، بما في ذلك، على سبيل المثال لا الحصر، عبر الهاتف أو البريد الإلكتروني أو عبر تطبيق "واتساب" أو من خلال ميزة المحادثة الفورية لدينا (حيثما كانت متوفرة). كما نجمع نحن ومزودي الخدمات المعتمدين المعلومات عند زيارتكم لموقعنا، والمواقع الأخرى التي نشغلها أو من أطراف ثالثة مصرَّح لها بمشاركة معلوماتكم معنا. علماً بأنه يجوز لنا أو لمزودي الخدمات المصرَّح لهم ممن نتعامل معهم جمع بعض من هذه المعلومات حتى لو لم تكونوا مستخدمين مسجلين أو لم تقوموا بتسجيل أي طلبيات. وقد تتضمن هذه المعلومات:</p>
    <p>بيانات الاتصال والبيانات الشخصية مثل: الاسم، والعنوان، ورقم الهاتف، وعنوان البريد الإلكتروني، وتاريخ الميلاد، والجنس، والجنسية</p>
    <p>المعلومات الإحصائية للموقع الإلكتروني، مثل: مكان إقامتكم، عنوان URL الذي تستخدمونه لدخول النظام، المتصفح، نوع الجهاز ، عنوان بروتوكول الإنترنت للكمبيوتر الخاص بكم، نوع النطاق، الصفحات التي قمتم بزيارتها، مصطلحات البحث التي أدخلتموها، العناصر التي نقرتم عليها</p>
    <p>يعتبر تقديمكم لمعلومات خاصة بأطراف ثالثة إلينا تأكيداً منكم على أنكم قد حصلتم مسبقاً على موافقة هذه الأطراف على ذلك.</p>
    <h4 class="my-4">
        كيف نجمع معلوماتكم
    </h4>
    <p>نحصل على معظم المعلومات الشخصية التي نعالجها بشكل مباشر من خلال أحد الحالات التالية:</p>
    <p>تقدمت إلينا بشكوى أو استفسار أو تعليق  على أحد خدماتنا .</p>
    <p>تقدمت إلينا بطلب الحصول على معلومات حول أمر ما</p>
    <p>اشتركت لتلقي الاتصالات من طرفنا</p>
    <p>كما قد نحصل على المعلومات الشخصية بشكل غير مباشر في بعض الحالات.</p>
</section>