


::ng-deep {
    .article-content {
        li {
            margin-bottom: 15px;
        }
        .content {
            text-align: justify !important;
        }
        .showContent {
            a {
                font-weight: bold !important;
                color: #de2323 !important;
                text-decoration: underline !important;
            }
        }
       
    }
    .modal-header .btn-close {
        margin: -0.5rem auto -0.5rem -0.5rem !important;
    }
}